/* Importando a fonte Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* Variáveis de Tema */
:root {
  --background-color-light: #eeeeee;
  --text-color-light: #000000;
  --background-color-dark: #1e1e1e;
  --text-color-dark: #ffffff;
  --container-background-light: #f5f5f5;
  --container-background-dark: #494949;
}

/* Estilos Comuns */
body {
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

.task-container, .timer-container, .inspiration-container {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--container-background-light);
  color: var(--text-color-light);
}

.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.dark-theme .task-container,
.dark-theme .timer-container,
.dark-theme .inspiration-container {
  background-color: var(--container-background-dark);
  color: var(--text-color-dark);
}

.dark-theme .icon-button {
  color: var(--text-color-dark);
}

/* Layout */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task-container {
  flex: 1 1 100%;
  margin-bottom: 20px;
}

.timer-inspiration-container {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.timer-container {
  width: calc(100% - 40px);
  margin: 0 auto 20px auto;
}

.inspiration-container {
  width: calc(100% - 40px);
  margin: 0 auto 20px auto;
}

/* Outros estilos */
.App {
  text-align: center;
}

.theme-toggle {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #2d7de6;
  color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-input input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.timer-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Timer Specific */
.progress-bar {
  position: relative;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin: 5px;
}
